<nav class="bg-gray-800 w-screen">
  <div class="max-w-7xl mx-auto px-8 flex items-center justify-end h-16">
    <a href="/"
      class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium mr-auto">Accueil</a>
    <a href="../article_sale"
      class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Articles</a>
    <a href="../article_form"
      class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Vendre un
      article</a>
  </div>
</nav>